{% extends 'booking/base.html' %}
{% load static %}
{% block content %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
<link rel="stylesheet" href="{% static 'css/mot.css' %}">
<script src="{% static 'js/mot.js' %}"></script>


<!-- mot Section -->
<div class="mot-section">
    <div class="mot-overlay">
        <div class="mot-text">
            <h1 class="mot-title">Book Your MOT Test</h1>
            <p class="mot-description">
                For your car to remain roadworthy it must pass an annual MOT test which includes all required safety checks. Our friendly experts will inspect all essential components of your vehicle during the MOT to verify compliance with DSVA legal standards and maximize road safety for you and your family.
            </p>
                <a href="/checkout" class="booking-btn add-selection" data-code="{{ mot_id }}">book now</a>
        </div>
    </div>
</div>

<!-- Service Offers -->
<div class="middle-section">
    <div class="service-offer-section"> 
        <div class="service-offer-block-1">
            <h1 class="heading">Interim Service + MOT</h1> 
            {% with package=offer.0 %}
                <h3 class="price">Only £{{ package.price }} (inc. vat)</h3> 
            {% endwith %}
            <a href="/offers" class="button"> Details </a> 
        </div>
        <div class="service-offer-block-2">
            <h1 class="heading">Full Service + MOT</h1> 
            {% with package=offer.1 %}
                <h3 class="price">Only £{{ package.price }} (inc. vat)</h3> 
            {% endwith %}
            <a href="/offers" class="button"> Details </a> 
        </div>
    </div>
</div>

<!-- Safety Checks -->
<div class="bottom-section">
    <div class="title">
        <h2 class="title-text">MOT Safety Checks</h2>
    </div>
    <div class="product-info-section">
        <div class="pi-image-block">
            <img src="{% static 'image/mot-checks.gif' %}" alt="New icon" />
        </div>
        <div class="pi-info-block">
            <div class="text-block">
                Brakes & Suspension<br>
                Lights & Electrical<br>
                Tyres & Wheels<br>
                Steering & Controls<br>
                Seatbelts & Seats<br>
                Horn & Visibility<br>
                Exhaust & Emissions<br>
                Fuel & Engine Systems<br>
                Warning lights on dashboard<br>
                Registration plate<br>
            </div>
        </div>
    </div>
</div>

{% endblock %}